<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touchless Camera</title>
</head>

<body>
    <div id="overlay" onclick="hideOverlay();">
        <img id="screenshot-pic" alt="screenshot" onclick="openImageInNewTab(this);">
    </div>
    <br>
    <h1 class="text-xl">
        <font size="+3">Touchless Camera</font>
    </h1>
    <br>
    <div id="videos" class="horiz">
        <div class="square" style="background-color: #deaaaa; float: left;">
            <video id="video" width="642" height="428" style="display:none;"></video>
            <canvas id="output-1" width="642" height="428"></canvas>
        </div>
    </div>
    <div class="botpanel">
        <div class="dropdown">
            <div class="dropdown-container">
                <div id="second-grid">
                    <button class="button btn-dropdown active" onclick="setTimer(1000, this);">1 second</button>
                    <button class="button btn-dropdown" onclick="setTimer(3000, this);">3 seconds</button>
                    <button class="button btn-dropdown" onclick="setTimer(5000, this);">5 seconds</button>
                    <button class="button btn-dropdown" onclick="setTimer(10000, this);">10 seconds</button>

                </div>
            </div>
            <button type="button" class="button" onclick="button2funct()">
                <font size="+2">Set Timer</font>
            </button>
        </div>
        <span id="countdown"></span>
        <button type="button" class="button" onclick="button3funct()">
            <font size="+2">Start Collage</font>
        </button>

    </div>

    <script async src="/static/js/hand-detection.js"></script>
    <script async src="https://docs.opencv.org/4.5.0/opencv.js" onload="onOpenCvLoad();"
        type="text/javascript"></script>
</body>

</html>
