body {
    text-align: center;
     align-items: center;
     justify-content: space-around;
     font-family: 'Raleway', sans-serif;
    margin: 10000 auto;
    height: 100vh;
    background-color: #f1d4d4;
}

.square {
    width: 48%;
    width: 48%;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 2em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}

.square h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 0;
    font-size: x-large;
}

.horiz {
    display: flex;
    justify-content: center;
    height: 72%;
    width: 100%;
}
.botpanel {
    display: flex;
    justify-content: space-evenly;
}
.button {
    border: none;
    background-color: white !important;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {
    border: none;
    background-color: white !important;
    padding: 15px 100px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button3 {
    border: none;
    background-color: white !important;
    padding: 15px 100px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
